extends ./layout/index.pug

block slider 
    .slider 
        h1 Río de Janeiro
        em aventura

block contenido 
    main.container.mt-5  
        h2.text-center.mb-5 Sobre nosotros   
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.   
                  | Iste minus atque impedit odio unde, vitae dignissimos, 
                  | maiores magnam, sint iure consectetur enim iusto omnis hic eos 
                  | nesciunt. Quibusdam, quaerat dignissimos.Esse  error architecto pariatur 

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.   
                  | Iste minus atque impedit odio unde, vitae dignissimos, 
                  | maiores magnam, sint iure consectetur enim iusto omnis hic eos 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        
        include ./layout/bloque_viajes.pug
    
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido
                        h3 5% de descuento
                        p.titulo Viaje a Canada 
                        p.fecha 20 de marzo de 2022 - 28 de marzo de 2022
                        p.precio $2,500 MX
    .container 
        h2.mt-5.text-center Testimoniales 
        include ./layout/bloque_testimoniales.pug