extends ./layout/index.pug

block contenido 
    main.container.mt-5     
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="img-nostros", class="img-fluid")
                
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    | Nulla nunc sapien, dignissim et ligula vitae, tincidunt 
                    | blandit ex. Etiam interdum porttitor maximus. Mauris 
                    | et nunc a odio tincidunt sagittis. Proin et convallis 
                    | enim. Etiam ultricies vehicula risus ut condimentum. 
                    | Integer et finibus nibh. Nullam maximus cursus diam.

                p Vestibulum ante ipsum primis in faucibus orci luctus 
                    |et ultrices posuere cubilia curae; Mauris porttitor, 
                    |lectus eu tristique vehicula, lectus urna finibus 
                    |risus, eu congue urna neque sit amet arcu. Donec 
                    |laoreet, ipsum tristique dictum laoreet, lacus ipsum 
                    |condimentum mauris, sit amet cursus sapien lectus eu 
                    |ante.

                p Cras quis sem id ligula gravida blandit non id dolor. 
                    |Aenean ultrices turpis at arcu blandit, sit amet luctus 
                    |eros sollicitudin. Nam ut quam magna. Mauris condimentum 
                    |nisi quis sodales dignissim.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono-seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p eros sollicitudin. Nam ut quam magna. Mauris condimentum nisi quis sodales dignissim.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono-destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p eros sollicitudin. Nam ut quam magna. Mauris condimentum nisi quis sodales dignissim.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono-precio", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p eros sollicitudin. Nam ut quam magna. Mauris condimentum nisi quis sodales dignissim.
                    

                

    
